body{
    font-family: Arial;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}

header{
    background-image: url(give.jpeg);
}

nav{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;

    position: sticky;

    background-color: #4E5941;
}

article:first-of-type{
    background-color: antiquewhite;
}

article{
    background-color: bisque;
}

footer{
    background-color: #4E5941;
    color: white;
    display: flex;
}

li{

}
